@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
    --main-color:#2980b9;
    --orange:#f39c12;
    --red:#e74c3c;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-bg:#eee;
    --border:.2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
 }

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
 }

 *::selection{
    background-color: var(--main-color);
    color:var(--white);
 }
 
 ::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
 }
 
 ::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 ::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
 }
 
 html{
    font-size: 62.5%;
    overflow-x: hidden;
 }
 
 body{
    background-color: var(--light-bg);
 }

 .heading{
    font-size: 4rem;
    color:var(--black);
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
 }

#map {
    height: 400px;
    width: 100%;
}

.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1rem 3rem;
   font-size: 1.7rem;
   text-transform: capitalize;
   color:var(--white);
   cursor: pointer;
   text-align: center;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
}

.btn{
   background-color: var(--main-color);
}

.option-btn{
   background-color: var(--orange);
}

.delete-btn{
   background-color: var(--red);
}

.flex-btn{
   display: flex;
   gap:1rem;
}

section{
    padding:2rem;
    max-width: 1200px;
    margin:0 auto;
 }
 .header{
    position: sticky;
    top:0; left:0; right:0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
 }
 
 .header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
 }
 
 .header .flex .logo{
    font-size: 2.5rem;
    color:var(--white);
 }
 
 .header .flex .logo img{
    width: 150px; 
    height: auto;
    margin-bottom: -8px;
 }
 
 .header .flex .logo span{
    color:var(--main-color);
 }
 
 .header .flex .navbar a{
    margin:0 1rem;
    font-size: 2rem;
    color:var(--black);
 }
 
 .header .flex .navbar a:hover{
    color:var(--main-color);
    text-decoration: underline;
 }
 
 
 .header .flex .icons > *{
    margin-left: 1rem;
    /*margin-right: 1rem;*/
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--black);
 }
 
 .header .flex .icons > *:hover{
    color:var(--main-color);
 }
 
 .header .flex .icons a span{
    font-size: 2rem;
 }
 
 .header .flex .profile{
    position: absolute;
    top:120%; right:2rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding:2rem;
    width: 30rem;
    padding-top: 1.2rem;
    display: none;
    animation:fadeIn .2s linear;
 }
 
 .header .flex .profile.active{
    display: inline-block;
 }
 
 .header .flex .profile p{
    text-align: center;
    color:var(--black);
    font-size: 2rem;
    margin-bottom: 1rem;
 }
 
 #menu-btn{
    display: none;
 }

 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}
.form-group {
    margin: 0 5px;
    display: inline-block;
    vertical-align: top;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button[type="submit"] {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.message{
    position: sticky;
    top:0;
    max-width: 1200px;
    margin:0 auto;
    background-color: var(--light-bg);
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
    z-index: 1100;
 }
 
 .message span{
    font-size: 2rem;
    color:var(--black);
 }
 
 .message i{
    cursor: pointer;
    color:var(--red);
    font-size: 2.5rem;
 }
 
 .message i:hover{
    color:var(--black);
 }
 
 .show-incidents .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .show-incidents .box-container .box{
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    border:var(--border);
    padding:2rem;
    height: 40rem;
    overflow: hidden;
 }
 
 .show-incidents .box-container .box img{
    width: 100%;
    height: 20rem;
    object-fit: contain;
    margin-bottom: 1.5rem;
 }
 
 .show-incidents .box-container .box .name{
    font-size: 2rem;
    color:var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
 
 .show-incidents .box-container .box .value{
    font-size: 2rem;
    color:var(--main-color);
    margin:.5rem 0;
 }
 
 .show-incidents .box-container .box .description{
    font-size: 1.5rem;
    color:var(--light-color);
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
 
 .location-container {
    display: flex;
    align-items: center;
    margin-top: -1rem;
}

.location-container .name {
    margin-right: 5px;
}

 .update-product form{
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    border:var(--border);
    padding:2rem;
    max-width: 50rem;
    margin:0 auto;
 }
 
 .update-product form .image-container{
    margin-bottom: 2rem;
 }
 
 .update-product form .image-container .main-image img{
    height: 20rem;
    width: 100%;
    object-fit: contain;
 }
 
 .update-product form .image-container .sub-image{
    display: flex;
    gap:1rem;
    justify-content: center;
    margin:1rem 0;
 }
 
 .update-product form .image-container .sub-image img{
    height: 5rem;
    width: 7rem;
    object-fit: contain;
    padding:.5rem;
    border:var(--border);
    cursor: pointer;
    transition: .2s linear;
 }
 
 .update-product form .image-container .sub-image img:hover{
    transform: scale(1.1);
 }
 
 .update-product form .box{
    width: 100%;
    border-radius: .5rem;
    padding:1.4rem;
    font-size: 1.8rem;
    color:var(--black);
    background-color: var(--light-bg);
    margin:1rem 0;
 }
 
 .update-product form span{
    font-size: 1.7rem;
    color:var(--light-color);
 }
 
 .update-product form textarea{
    height: 15rem;
    resize: none;
 }
 
 .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
 }



 @media (max-width:991px){

    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
 
    #menu-btn{
       display: inline-block;
    }
 
    .header .flex .navbar{
       position: absolute;
       top:99%; left:0; right:0;
       border-top: var(--border);
       border-bottom: var(--border);
       background-color: var(--white);
       transition: .2s linear;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
 
    .header .flex .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
 
    .header .flex .navbar a{
       display: block;
       margin:2rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .heading{
       font-size: 3rem;
    }
 
    .flex-btn{
       flex-flow: column;
       gap:0;
    }
 
 }